VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyC4eQIpptHy2AvZhBRO7MeNfr1fvf3FZ10
VITE_FIREBASE_AUTH_DOMAIN=ecocharge-hub.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ecocharge-hub
VITE_FIREBASE_STORAGE_BUCKET=ecocharge-hub.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1012049537954
VITE_FIREBASE_APP_ID=1:1012049537954:web:8fcb033c5adcd2d19b60fb